
            <section className="section block bg-contrast">
                <div className="container py-4">
                    <div className="row align-items-center">
                        <div className="col-md-4 mr-md-auto">
                            <nav id="sw-nav-solid" className="nav flex-md-column nav-pills nav-fill"><a className="nav-item text-left nav-link py-3 my-2 active" data-step="1">
                                    <h6 className="bold">Inbox</h6>
                                </a><a class="nav-item text-left nav-link py-3 my-2" data-step="2">
                                    <h6 class="bold">Calendar</h6>
                                </a><a class="nav-item text-left nav-link py-3 my-2" data-step="3">
                                    <h6 class="bold">Invoice</h6>
                                </a><a class="nav-item text-left nav-link py-3 my-2" data-step="4">
                                    <h6 class="bold">Dashboard</h6>
                                </a></nav>
                        </div>
                        <div class="col-md-6">
                            <div class="swiper-container mt-4 mt-md-0" data-sw-navigation="#sw-nav-solid">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="../img/screens/dash/1.png" class="img-responsive" alt=""></div>
                                    <div class="swiper-slide"><img src="../img/screens/dash/2.png" class="img-responsive" alt=""></div>
                                    <div class="swiper-slide"><img src="../img/screens/dash/3.png" class="img-responsive" alt=""></div>
                                    <div class="swiper-slide"><img src="../img/screens/dash/4.png" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>